doctype html
html
    head
        title My Social Network
    body
        h1 Welcome to My Social Network
        p
            a(href='/users/view') View Users
            |  |
            a(href='/friends/view') View Friends
            |  |
            a(href='/news/view') View News
