
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    display: inline-block;
    text-align: center;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Увеличиваем ширину пользователей */
    gap: 20px;
    justify-content: center;
}

.user-card {
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: whitesmoke;
}

.user-card img {
    max-width: 90%; /* Уменьшаем максимальную ширину до 80% от родительского контейнера */
    height: auto;
    border-radius: 20%; /* Добавляем скругление углов для круглой формы */
    margin-bottom: 10px; /* Добавляем отступ снизу */
}

.user-photo {
    max-width: 25%; /* Уменьшаем максимальную ширину изображения до 50% от родительского контейнера */
    height: auto;
    border-radius: 20%; /* Добавляем скругление углов для круглой формы */
}
