extends static/layout

block content
    h1 User's Friends
    table
        thead
            tr
                th Name
                th Email
                th Status
        tbody
            each friend in friends
                tr
                    td #{friend.name}
                    td #{friend.email}
                    td #{friend.status}
