extends layout

block content
    header
        h1 Добро пожаловать на нашу рекламную страницу!
    section
        h2 Видео-сервисы
        p Посетите следующие видео-платформы:
        .video-grid
            iframe(width="560" height="315" src="https://www.youtube.com/embed/9bI6h_9K4s0" frameborder="0" allowfullscreen)
            iframe(width="560" height="315" src="https://www.youtube.com/embed/KPLWWIOCOOQ" frameborder="0" allowfullscreen)
            iframe(width="560" height="315" src="https://www.youtube.com/embed/rlR4PJn8b8I" frameborder="0" allowfullscreen)
            iframe(width="560" height="315" src="https://www.youtube.com/embed/aTWri2Nzdes" frameborder="0" allowfullscreen)
            iframe(width="560" height="315" src="https://www.youtube.com/embed/4QMQOJTYRBU" frameborder="0" allowfullscreen)
            iframe(width="560" height="315" src="https://www.youtube.com/embed/yxnvCv2lFP4" frameborder="0" allowfullscreen)
            iframe(width="560" height="315" src="https://www.youtube.com/embed/v4hhxJlveoo" frameborder="0" allowfullscreen)
            iframe(width="560" height="315" src="https://www.youtube.com/embed/TUtbK8wX5nQ" frameborder="0" allowfullscreen)
            iframe(width="560" height="315" src="https://www.youtube.com/embed/UwXQORj2Nzc" frameborder="0" allowfullscreen)


    footer
        p © 2023 Рекламная страница. Все права защищены.