doctype html
html
    head
        title All News
    body
        h1 All News
        table
            thead
                tr
                    th News Text
                    th User ID
            tbody
                each n in news
                    tr
                        td #{n.text}
                        td #{n.userId}
