doctype html
html
    head
        title All Users
    body
        h1 All Users
        table
            thead
                tr
                    th Name
                    th Email
                    th Role
            tbody
                each user in users
                    tr
                        td #{user.name}
                        td #{user.email}
                        td #{user.role}
