{
  "presets": ["@babel/preset-env"],
  "env": {
    "development": {
      "plugins": [
        "module-resolver"
      ]
    },
    "production": {
      "plugins": [
        "module-resolver"
      ]
    }
  }
}